# All Static file links
https://sse.rit.edu http://sse.rit.edu {
    # For the GTV
    tls /root/certs/server.crt /root/certs/server.key {
        protocols tls1.0 tls1.2
    }
    # Nice stuff
    gzip
    # API upstream
    proxy /api {
        upstream api:3000
    }
    # All the static upstreams
    proxy / {
       upstream ct:8000
       except /api
    }
    proxy /events events:8000
    proxy /go go:8000
    proxy /officers officers:8000
    proxy /scoreboard scoreboard:8000
    proxy /qdb qdb:8000

    # Slackbot slack commands
    proxy /slack/receive slack:3000
}
