# All Static file links
sse.rit.edu {
    # Nice stuff
    gzip
    # API upstream
    proxy /api {
        upstream api:3000
    }
    # All the static upstreams
    proxy / {
       upstream ct:8000
       except /api
    }
    proxy /events events:8000
    proxy /go go:8000
    proxy /me me:8000
    proxy /officers officers:8000
    proxy /scoreboard scoreboard:8000
    proxy /qdb qdb:8000
}
