# All Static file links
/ {
    # API upstream
    proxy /api {
        upstream api:3000
    }
    # All the static upstreams
    proxy / ct:8000
    proxy /events events:8000
    proxy /go go:8000
    proxy /me me:8000
    proxy /officers officers:8000
    proxy /scoreboard scoreboard:8000
    proxy /qdb qdb:8000
}
